//
// Accordion
// --------------------------------------------------


// Parent container
.accordion {
  //margin-bottom: @baseLineHeight;
  border-top: 1px solid @gray;
}

// Group == heading + body
.accordion-group {
  //margin-bottom: 2px;
  border-top: 1px solid lighten(@grayLight, 6%);
  color: @gray;
  //.border-radius(4px);
}
.accordion-heading {
  border-bottom: 1px solid @gray;
  background-color: darken(@grayLight,2%);
  a {
	  color: @grayDark;
	  text-shadow: 0 1px 1px rgba(255,255,255, .8);
	  text-decoration: none;
  }
}
.accordion-body {
	background-color: darken(@white,5%);
  &.in { border-bottom: 1px solid lighten(@gray, 10%); }
}

.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}

// General toggle styles
.accordion-toggle {
  cursor: pointer;
}

// Inner needs the styles because you can't animate properly with any styles on the element
.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid lighten(@grayLight, 10%);
}
