<h5>Player Style</h5>
<select class="spanA">
	<% _.each(styles, function(style, i) { %>
	<option value="<%=style.id%>"<%= style.id === current ? ' selected' : '' %>><%= style.label %></option>
	<% }); %>
</select>

<h5>Track Name</h5>
<div id="track-name-editor"></div>
