<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>Page Background</h3>
</div>
<div class="modal-body">

	<ul class="modal-tabs clearfix">
		<li class="tab-upload">
			Upload
		</li>
		<li class="tab-gallery active">
			Gallery
		</li>
		<li class="tab-color">
			color
		</li>
	</ul>

	<div class="modal-tab" id="modal-tab-gallery">
		<ul class="modal-image-listing">
			<li>
				<a data-slug="slug" style="background-image: url(url);">name</a>
			</li>
		</ul>
	</div>
</div>
<div class="modal-footer">
	<a href="#" class="btn btn-primary">Save changes</a>
</div>
