#modal-cover {
	position: absolute; left: 0; top: 0;
	width: 100%; height: 100%; z-index: 499;
	background-color: rgba(0,0,0,.4);
}
.modal {
	z-index:  500;
}

.toggle {
	position: relative;
	height: 20px;
	line-height: 20px;
	width: 38px;
	border-radius: 10px;
	border: 0;
	background: #cacaca;
	overflow: hidden;
	text-indent: -200px;

	&:after {
		content: "";
		position: absolute;
		top: 3px; right: 3px;
		background: #fff;
		border-radius: 7px;
		width: 14px; height: 14px;
	}

	&.on { background: #55dc91; }
	&.on:after { right: auto; left: 3px; }
}

.group {
	.heading {
		margin: 0 0 15px;
		padding: 5px 18px;
		background: #f1f1f1;
		font-size: 14px;
		font-weight: bold;
		color: #222;
		span {
			float: left;
			line-height: 32px;
		}
		.toggle {
			float: right;
			margin-top: 7px;
		}
	}

	&.disabled .inner {
		display: none;
	}
	.inner {
		padding: 0 18px;
		margin-bottom: 24px;
	}
}


.text-editor {
	width: 210px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		position: relative;
		float: left;
		margin: 0 1px;
	}
	.txt-btn {
		position: relative;
		background-color: @spinn_theme;
		border: 1px solid @spinn_theme;
		font: normal 10px/20px 'helvetica neue', arial;
		text-transform: uppercase;
		height: 20px;
		color: #fff;
		padding: 0 13px 0 6px;
		border-radius: 3px;
		&:after {
			content: "";
			position: absolute;
			width: 6px; height: 6px;
			top: 50%; margin-top: -3px;
			right: 3px;
			background: transparent url('/images/textra.png') no-repeat -14px 50%;
		}
	}
	.txt-align {
		background: @spinn_theme url('/images/textra.png') no-repeat 50% 50%;
		width: 30px;
		overflow: hidden;
		text-indent: -100px;
	}
	.txt-color {
		width: 20px;
		background: #f1f1f1;
		overflow: hidden;
		text-indent: -100px;
		&:after { display: none; }
	}

	.input-size {
		overflow: auto;
		max-height: 150px;
	}
	.idropper-container {
		right: 0;
		left: auto;
		padding: 5px;
		width: 177px;
	}
}


.dropdown-cover {
	position: absolute;
	display: none;
	left: 0; top: 0;
	width: 100%; height: 100%;
	z-index: 999;
	&.active { display: block; }
}
.dropdown-wrap.active > .dropdown { display: block; }
.dropdown {
	display: none;
	list-style-type: none;
	position: absolute;
	left: 0; top: 100%;
	margin: 1px 0 0;
	padding: 4px 0;
	z-index: 1000;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	> li {
		cursor: pointer;
		float: none;
		margin: 0;
		padding: 0;
		> a {
			display: block;
			padding: 3px 15px;
			clear: both;
			line-height: 18px;
			color: #555;
			white-space: nowrap;
			text-decoration: none;
			&:hover {
				background-color: @spinn_theme;
				color: #fff;
			}
		}
	}
}

ul.modal-tabs {
	margin: 0;
	border-radius: 3px;
	list-style-type: none;
	> li {
		float: left;
		line-height: 40px;
		height: 40px;
		padding: 0 20px;
		background-color: #e9e9e9;
		color: #666;
		&.active {
			background-color: @spinn_theme;
			color: #fff;
		}
	}
}

.spanG { width: 200px; }
.spanA { width: 100%; }


.dropdown-wrap { position: relative; }
