.group {
}

.group-background {
	@block: 40px;
	.preview {
		width: @block;
		height: @block;
		background-size: 100%;
		background-position: 50%;
		float: left;
		margin-right: 8px;
	}
}



#modal-background {
	.modal-footer {
		text-align: center;
	}
}
