html, body {
	height: 100%;
}
body.sp-dragging {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	-o-user-select: none;
	user-select: none;   
}
.sp-block {
	position: relative;
	margin: 8px 0;
	.sp-controls { display: none; }
}
.sp-block.active {
	outline: 1px solid blue;
	.sp-controls { display: block; }

	.sp-pad-top, .sp-pad-bottom {
		position: absolute;
		left: 50%; right: 0;
		margin-left: -20px;
		height: 10px;
		width: 40px;
		background: red;
		cursor: s-resize;
	}
	.sp-pad-top {
		top: -5px;
	}
	.sp-pad-bottom {
		bottom: -5px;
	}
}
