html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	&.collapsed {
		#edit_panel { display: none; }
		#frame_panel { left: 35px; }
		#spinnbar { width: 35px; }
	}
}

::-webkit-scrollbar { height: 16px; width: 10px; }
::-webkit-scrollbar-track-piece { background: #f1f1f1; }
::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.2);
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
	&:hover { box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);background-color:rgba(0,0,0,.4);}
	&:active { box-shadow:inset 1px 1px 3px rgba(0,0,0,.35);background-color:rgba(0,0,0,.5);}
}

#frame_panel {
	position: absolute;
	top: 0; bottom: 0;
	left: 285px; right: 0;
	background: black;

	> iframe {
		width: 100%;
		height: 100%;
		border: 0;
	}
}


#spinnbar {
	position: absolute;
	left: 0;
	top: 0;
	width: 285px;
	height: 100%;
	background: @spinn_theme;

	#column {
		float: right;
		width: 35px;
	}

	#logo {
		height: 110px;
		background: #222;
		position: relative;
		span {
			display: block;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			color: @spinn_theme;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 22px;
			text-indent: 20px;
		}
		a {
			position: absolute;
			left: 50%; bottom: 10px;
			width: 12px; height: 12px;
			margin-left: -6px;
			overflow: hidden;
			text-indent: 100%;
			background: transparent url('/images/cog.png') no-repeat 0 0;
		}
	}
	#customize {
		span {
			position: relative;
			display: block;
			cursor: pointer;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			color: #fff;
			font-size: 15px;
			text-indent: 20px;
		}
		a {
			position: absolute;
			top: 0;
			right: -205%;
			text-align: center;
			text-indent: 0;
			text-decoration: none;
			outline: none;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
		}
	}
}

#edit_panel {
	background: @baseBg;
	position: absolute;
	top: 0; bottom: 0;
	right: 35px; width: 250px;

	.groups {
		overflow-y: auto;
		overflow-x: hidden;
		height: 100%;
		margin: 0 1px;
	}
}
