#title h1 {
	text-align: <%= align %>;
	display: <%= enable ? 'block' : 'none' %>;
	color: <%= color %>;
	font-family: <%= font %>;
	font-size: <%= size %>px;
	line-height: <%= size %>px;
	padding: 0;
	margin: 0;
}
