<h3 class="heading clearfix">
	<span><%=heading%></span>
	<% if(typeof toggle !== 'undefined' && toggle) { %>
		<button class="toggle">Toggle</button>
	<% } %>
</h3>
<div class="inner clearfix">
</div>
