<li class="dropdown-wrap">
	<button class="txt-btn dropdown-trigger">font</button>
	<ul class="dropdown input-type title-input" data-slug="font">
		<li data-value="Marvel">
			<a>Marvel</a>
		</li>
		<li data-value="Kavoon">
			<a>Kavoon</a>
		</li>
		<li data-value="Fruktur">
			<a>Fruktur</a>
		</li>
		<li data-value="Bonbon">
			<a>Bonbon</a>
		</li>
		<li data-value="Joti One">
			<a>Joti One</a>
		</li>
		<li data-value="Faster One">
			<a>Faster One</a>
		</li>
		<li data-value="Iceland">
			<a>Iceland</a>
		</li>
		<li data-value="Roboto Condensed">
			<a>Roboto Condensed</a>
		</li>
	</ul>
</li>

<li class="dropdown-wrap">
	<button class="txt-btn dropdown-trigger">size</button>
	<ul class="dropdown input-size title-input" data-slug="size">
		<li data-value="8"><a>8</a></li>
		<li data-value="9"><a>9</a></li>
		<li data-value="10"><a>10</a></li>
		<li data-value="11"><a>11</a></li>
		<li data-value="12"><a>12</a></li>
		<li data-value="14"><a>14</a></li>
		<li data-value="18"><a>18</a></li>
		<li data-value="24"><a>24</a></li>
		<li data-value="30"><a>30</a></li>
		<li data-value="36"><a>36</a></li>
		<li data-value="48"><a>48</a></li>
		<li data-value="60"><a>60</a></li>
		<li data-value="72"><a>72</a></li>
	</ul>
</li>

<li class="dropdown-wrap">
	<button class="txt-btn dropdown-trigger">style</button>
	<ul class="dropdown input-style title-input" data-slug="style">
		<li data-value="bold"><a>bold</a></li>
		<li data-value="italics"><a>italics</a></li>
	</ul>
</li>

<li class="dropdown-wrap">
	<button class="txt-btn txt-align dropdown-trigger">align</button>
	<ul class="dropdown input-align title-input" data-slug="align">
		<li data-value="center"><a>center</a></li>
		<li data-value="left"><a>left</a></li>
		<li data-value="right"><a>right</a></li>
	</ul>
</li>

<li class="dropdown-wrap">
	<button class="txt-btn txt-color dropdown-trigger">color</button>
	<div class="dropdown idropper-container"></div>
</li>
